<div class="jumbotron">
  <h1 class="display-4">Overwatch</h1>
  <p class="lead">Soldados. Cientistas. Aventureiros. Anômalos.
Em meio a uma crise global, uma força-tarefa internacional de heróis tenta restaurar a paz em um mundo dividido pela guerra. Eles são a OVERWATCH.

Esses combatentes acabaram com a crise e mantiveram a paz por décadas, dando início a uma era de exploração, inovação e descobertas... mas a influência da Overwatch se enfraqueceu com o passar dos anos, e cada um deles acabou seguindo seu próprio caminho.

Hoje, com a volta dos conflitos por todo o mundo, está na hora de reunir as lendas do passado e recrutar os heróis do futuro. Você está conosco?</p>
  <hr class="my-4">
</div>

<div class="img1">
  <img src="../assets/Reaper.png"/>
</div>

